body{
  background-color: #e6e6e6;
}
h1{
  text-align: center;
}
/*.purchases{
  display: block;
    float: left;
    height: 20px;
    padding-left: 22px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    background: transparent href="hyf-webshop-exercise/if_1-12_511567" no-repeat left center;
}*/
ul{
  list-style-type:none;
  background-color: #eff0f1;
}

#details {
  display: block;
  float:left;
  font-size: 24px;
     margin:5px 5px 5px 5px;

}
.container {
  width :50%;
   margin:40px 300px 100px 500px;
   border: 5px solid #d8d8d8;
   border-radius:3px;
   float:left;
}
/*.images{
  width:553px;
  height: auto;
}*/
.product-image{
  width:200%;
  margin=10;
}
button{
  float: right;
}