/*
	SearchBar had the following style and a bootstrap class "well":
	const style = {
		backgroundColor: '#F3F3F3',
		fontFamily: 'Papyrus',
		fontSize: '22px',
		width: '100%',
		height: '60px',
		padding: '10px',
		textAlign: 'center',
	};

	const inputStyle = {
		width: '30%',
		margin: 'auto',
		height: '40px',
		textAlign: 'center',
	};

	const buttonStyle = {
		backgroundColor: '#5EA000',
		margin: 'auto',
		height: '40px',
		textAlign: 'center',
	};

Footer component had the following style and a bootstrap class "well":

		backgroundColor: '#1BBB3F',
		color: '#FFFFFF',
		fontFamily: 'Garamond',
		fontSize: 12,

*/

.store-all-products {
	width: 90%;
	margin: 10px auto;
	padding: 10px;
}

.store-single-product {
	display: inline-block;
	width: 240px;
	height: 290px;
	margin: 5px 10px;
	padding: 10px;
	border: 1px solid #5ea000;
	text-align: center;
}

.store-product-img {
	height: 180px;
}

.cart-product-img-header {
	display: inline-block;
	height: 30px;
}

.cart-product-img {
	display: inline-block;
	height: 100px;
}

.cart-product-img img {
	height: 100%;
}

/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

body {
	color: #576366;
	background: #fff;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
h1,
h2,
ul {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #3b80d1;
}

/* FORM & BUTTON STYLES -------- */
button {
	color: white;
	background: #6dc37b;
	padding-left: 1em;
	padding-right: 1em;
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px #b4b6b6;
}

button:hover {
	background: #22b01d;
}

button:active {
	box-shadow: 0 0 #b4b6b6;
	transform: translateY(2px);
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */
header {
	background: #6dc37b;
}

/* IMAGES -------- */

.not-found {
	text-align: center;
}

/* MAIN NAV -------- */

.main-nav a {
	font-size: 0.95em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: block;
	padding: 1em;
	transition: 0.2s;
}
.main-nav a:hover,
.main-nav .active {
	color: #fff;
	background: #3b80d1;
}

/* ICONS -------- */

.icn-logo i {
	font-size: 2.45em;
	line-height: 0;
}
.icn-error {
	font-size: 3.2em;
	margin-bottom: 0.25em;
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) {
	.icn-logo {
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 4px;
	}
	.main-nav a {
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
	}
	.main-nav a:hover {
		border-color: rgba(0, 0, 0, 0.1);
	}
}
@media (min-width: 769px) {
	/* MAIN NAV -------- */
	.icn-logo {
		margin-right: auto;
		padding: 0 2em;
	}
	header,
	.main-nav {
		display: flex;
		flex-wrap: wrap;
	}
	.main-nav a {
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		padding: 1.25em 1.5em;
	}
	.main-nav a:hover {
		border-color: rgba(0, 0, 0, 0.1);
	}
}
